<nav class="bg-slate-900 text-white p-4 flex justify-between items-center shadow-lg">
  <h1 class="text-xl font-bold tracking-tight text-cyan-400">🖥️Portal Tech</h1>
  
  <ul class="flex gap-6 font-medium">
    <li><a routerLink="/" class="hover:text-cyan-400 transition">Home</a></li>
    <li><a routerLink="/tutoriais" class="hover:text-cyan-400 transition">Tutoriais</a></li>
    <li><a routerLink="/documentacao" class="hover:text-cyan-400 transition">Documentos</a></li>
    <li><a routerLink="/autor" class="hover:text-cyan-400 transition">Sobre</a></li>
  </ul>
</nav>
